<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="page-header container-fluid">
      <span class="logo"><img src="../assets/img/house-logo.jpg" alt="logo"></span>
    <h1>Inmobiliaria IparHouse
      <small>Viviendas a su medida</small>
      
    </h1>

  </div>
</header>

<div class="container">
  <app-casas></app-casas>
  <hr>
  <br>
  <app-formulario></app-formulario>
</div>

<footer class="footer">
  <div class="container-fluid">
    <hr>
    <p class="text-muted">Iparhouse 2018.</p>
  </div>
</footer>
