<div class="row">
  <div class="col-xs-4">
    <h2>Añade tu casa</h2>
    <input class="nuevo" type="text" [(ngModel)]="nombre" placeholder="Nombre">
    <br>
    <input class="nuevo" type="number" [(ngModel)]="precio" placeholder="Precio">
    <br>
    <input type="radio" name="modo" [(ngModel)]="alquiler">Alquiler
    <br>
    <input type="radio" name="modo" [(ngModel)]="venta"> Venta
    <br>
    <input class="nuevo" type="number" [(ngModel)]="habitaciones" placeholder="habitaciones">
    <br>
    <input class="nuevo" type="text" [(ngModel)]="foto" placeholder="Foto">
    <br>
    <input class="nuevo" type="text" [(ngModel)]="direccion" placeholder="Direccion">
    <br>
    <input type="checkbox" [(ngModel)]="tv"> tv
    <br>
    <input type="checkbox" [(ngModel)]="tv"> wc
    <br>
    <input type="checkbox" [(ngModel)]="jardin"> jardin
    <br>
    <input type="checkbox" [(ngModel)]="cocina"> cocina
    <br>
    <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addCasa()">Añadir</span>
  </div>
</div>
